@grey-color: rgba(0, 0, 0, .25);

.hello {
  font-size: 32px;
  font-weight: bold;
  color: #30b767;
  .deleted {
    text-decoration: line-through;
    background-color: @grey-color;
  }
}
.override-ant-btn {
    :global(.ant-btn) {
      border-radius: 16px;
      color: black;
    }
  }
