<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <title>Happy Sugar Life</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>